{
  "openapi": "3.1.0",
  "info": {
    "title": "Slack Web API",
    "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.",
    "contact": {
      "name": "Slack developer relations",
      "url": "https://api.slack.com/support"
    },
    "version": "1.7.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://slack.com/api",
      "variables": {}
    },
    {
      "url": "https://slack.com/oauth",
      "variables": {}
    }
  ],
  "paths": {
    "/admin.apps.approve": {
      "post": {
        "tags": ["admin.apps", "admin"],
        "summary": "admin_apps_approve",
        "description": "Approve an app for installation on a workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.approve"
        },
        "operationId": "admin_apps_approve",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.apps:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "The id of the app to approve."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The id of the request to approve."
                  },
                  "team_id": {
                    "type": "string"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.apps:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_apps_approve"
        }
      },
      "parameters": []
    },
    "/admin.apps.restrict": {
      "post": {
        "tags": ["admin.apps", "admin"],
        "summary": "admin_apps_restrict",
        "description": "Restrict an app for installation on a workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.restrict"
        },
        "operationId": "admin_apps_restrict",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.apps:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "The id of the app to restrict."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "The id of the request to restrict."
                  },
                  "team_id": {
                    "type": "string"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.apps:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_apps_restrict"
        }
      },
      "parameters": []
    },
    "/admin.apps.approved.list": {
      "get": {
        "tags": ["admin.apps.approved", "admin"],
        "summary": "admin_apps_approved_list",
        "description": "List approved apps for an org or workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.approved.list"
        },
        "operationId": "admin_apps_approved_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.apps:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enterprise_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.apps:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_apps_approved_list"
        }
      },
      "parameters": []
    },
    "/admin.apps.requests.list": {
      "get": {
        "tags": ["admin.apps.requests", "admin"],
        "summary": "admin_apps_requests_list",
        "description": "List app requests for a team/workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.requests.list"
        },
        "operationId": "admin_apps_requests_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.apps:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.apps:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_apps_requests_list"
        }
      },
      "parameters": []
    },
    "/admin.apps.restricted.list": {
      "get": {
        "tags": ["admin.apps.restricted", "admin"],
        "summary": "admin_apps_restricted_list",
        "description": "List restricted apps for an org or workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.apps.restricted.list"
        },
        "operationId": "admin_apps_restricted_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.apps:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enterprise_id",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.apps:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_apps_restricted_list"
        }
      },
      "parameters": []
    },
    "/admin.conversations.archive": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_archive",
        "description": "Archive a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.archive"
        },
        "operationId": "admin_conversations_archive",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to archive."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.archiveschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.archiveerrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_archive"
        }
      },
      "parameters": []
    },
    "/admin.conversations.convertToPrivate": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_convertToPrivate",
        "description": "Convert a public channel to a private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.convertToPrivate"
        },
        "operationId": "admin_conversations_convertToPrivate",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to convert to private."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.convertToPrivateschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.convertToPrivateerrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_convertToPrivate"
        }
      },
      "parameters": []
    },
    "/admin.conversations.create": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_create",
        "description": "Create a public or private channel-based conversation.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.create"
        },
        "operationId": "admin_conversations_create",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["name", "is_private"],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the public or private channel to create."
                  },
                  "is_private": {
                    "type": "boolean",
                    "description": "When `true`, creates a private channel instead of a public channel"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the public or private channel to create."
                  },
                  "org_wide": {
                    "type": "boolean",
                    "description": "When `true`, the channel will be available org-wide. Note: if the channel is not `org_wide=true`, you must specify a `team_id` for this channel"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace to create the channel in. Note: this argument is required unless you set `org_wide=true`."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.createschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.createerrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_create"
        }
      },
      "parameters": []
    },
    "/admin.conversations.delete": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_delete",
        "description": "Delete a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.delete"
        },
        "operationId": "admin_conversations_delete",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to delete."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.deleteschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.deleteerrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_delete"
        }
      },
      "parameters": []
    },
    "/admin.conversations.disconnectShared": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_disconnectShared",
        "description": "Disconnect a connected channel from one or more workspaces.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.disconnectShared"
        },
        "operationId": "admin_conversations_disconnectShared",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to be disconnected from some workspaces."
                  },
                  "leaving_team_ids": {
                    "type": "string",
                    "description": "The team to be removed from the channel. Currently only a single team id can be specified."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.renameschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.disconnectSharederrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_disconnectShared"
        }
      },
      "parameters": []
    },
    "/admin.conversations.getConversationPrefs": {
      "get": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_getConversationPrefs",
        "description": "Get conversation preferences for a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.getConversationPrefs"
        },
        "operationId": "admin_conversations_getConversationPrefs",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "The channel to get preferences for.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.getConversationPrefsschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.unarchiveerrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_getConversationPrefs"
        }
      },
      "parameters": []
    },
    "/admin.conversations.getTeams": {
      "get": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_getTeams",
        "description": "Get all the workspaces a given public or private channel is connected to within this Enterprise org.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.getTeams"
        },
        "operationId": "admin_conversations_getTeams",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "The channel to determine connected workspaces within the organization for.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.getTeamsschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.getTeamserrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_getTeams"
        }
      },
      "parameters": []
    },
    "/admin.conversations.invite": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_invite",
        "description": "Invite a user to a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.invite"
        },
        "operationId": "admin_conversations_invite",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["user_ids", "channel_id"],
                "type": "object",
                "properties": {
                  "user_ids": {
                    "type": "string",
                    "description": "The users to invite."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel that the users will be invited to."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.inviteschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.inviteerrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_invite"
        }
      },
      "parameters": []
    },
    "/admin.conversations.rename": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_rename",
        "description": "Rename a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.rename"
        },
        "operationId": "admin_conversations_rename",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id", "name"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to rename."
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.renameschema1"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.unarchiveerrorschema21"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_rename"
        }
      },
      "parameters": []
    },
    "/admin.conversations.search": {
      "get": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_search",
        "description": "Search for public or private channels in an Enterprise organization.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.search"
        },
        "operationId": "admin_conversations_search",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "team_ids",
            "in": "query",
            "description": "Comma separated string of team IDs, signifying the workspaces to search through.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Name of the the channel to query by.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to be returned. Must be between 1 - 20 both inclusive. Default is 10.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_channel_types",
            "in": "query",
            "description": "The type of channel to include or exclude in the search. For example `private` will search private channels, while `private_exclude` will exclude them. For a full list of types, check the [Types section](#types).",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Possible values are `relevant` (search ranking based on what we think is closest), `name` (alphabetical), `member_count` (number of users in the channel), and `created` (date channel was created). You can optionally pair this with the `sort_dir` arg to change how it is sorted",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort direction. Possible values are `asc` for ascending order like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3, 2, 1) or (c, b, a)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.searchschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.searcherrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_search"
        }
      },
      "parameters": []
    },
    "/admin.conversations.setConversationPrefs": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_setConversationPrefs",
        "description": "Set the posting permissions for a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.setConversationPrefs"
        },
        "operationId": "admin_conversations_setConversationPrefs",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id", "prefs"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to set the prefs for"
                  },
                  "prefs": {
                    "type": "string",
                    "description": "The prefs for this channel in a stringified JSON format."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.setConversationPrefsschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.setConversationPrefserrorschema1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_setConversationPrefs"
        }
      },
      "parameters": []
    },
    "/admin.conversations.setTeams": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_setTeams",
        "description": "Set the workspaces in an Enterprise grid org that connect to a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.setTeams"
        },
        "operationId": "admin_conversations_setTeams",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The encoded `channel_id` to add or remove to workspaces."
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace to which the channel belongs. Omit this argument if the channel is a cross-workspace shared channel."
                  },
                  "target_team_ids": {
                    "type": "string",
                    "description": "A comma-separated list of workspaces to which the channel should be shared. Not required if the channel is being shared org-wide."
                  },
                  "org_channel": {
                    "type": "boolean",
                    "description": "True if channel has to be converted to an org channel"
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_setTeams"
        }
      },
      "parameters": []
    },
    "/admin.conversations.unarchive": {
      "post": {
        "tags": ["admin.conversations", "admin"],
        "summary": "admin_conversations_unarchive",
        "description": "Unarchive a public or private channel.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.unarchive"
        },
        "operationId": "admin_conversations_unarchive",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.conversations:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["channel_id"],
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to unarchive."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.unarchiveschema"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/admin.conversations.unarchiveerrorschema31"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_unarchive"
        }
      },
      "parameters": []
    },
    "/admin.conversations.ekm.listOriginalConnectedChannelInfo": {
      "get": {
        "tags": ["admin.conversations.ekm", "admin"],
        "summary": "admin_conversations_ekm_listOriginalConnectedChannelInfo",
        "description": "List all disconnected channels\u2014i.e., channels that were once connected to other workspaces and then disconnected\u2014and the corresponding original channel IDs for key revocation with EKM.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo"
        },
        "operationId": "admin_conversations_ekm_listOriginalConnectedChannelInfo",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "channel_ids",
            "in": "query",
            "description": "A comma-separated list of channels to filter to.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_ids",
            "in": "query",
            "description": "A comma-separated list of the workspaces to which the channels you would like returned belong.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_ekm_listOriginalConnectedChannelInfo"
        }
      },
      "parameters": []
    },
    "/admin.conversations.restrictAccess.addGroup": {
      "post": {
        "tags": ["admin.conversations.restrictAccess", "admin"],
        "summary": "admin_conversations_restrictAccess_addGroup",
        "description": "Add an allowlist of IDP groups for accessing a channel",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup"
        },
        "operationId": "admin_conversations_restrictAccess_addGroup",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["token", "group_id", "channel_id"],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.conversations:write`"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org) ID to be an allowlist for the private channel."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to link this group to."
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_restrictAccess_addGroup"
        }
      },
      "parameters": []
    },
    "/admin.conversations.restrictAccess.listGroups": {
      "get": {
        "tags": ["admin.conversations.restrictAccess", "admin"],
        "summary": "admin_conversations_restrictAccess_listGroups",
        "description": "List all IDP Groups linked to a channel",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups"
        },
        "operationId": "admin_conversations_restrictAccess_listGroups",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.conversations:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_restrictAccess_listGroups"
        }
      },
      "parameters": []
    },
    "/admin.conversations.restrictAccess.removeGroup": {
      "post": {
        "tags": ["admin.conversations.restrictAccess", "admin"],
        "summary": "admin_conversations_restrictAccess_removeGroup",
        "description": "Remove a linked IDP group linked from a private channel",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup"
        },
        "operationId": "admin_conversations_restrictAccess_removeGroup",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["token", "team_id", "group_id", "channel_id"],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.conversations:write`"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "The workspace where the channel exists. This argument is required for channels only tied to one workspace, and optional for channels that are shared across an organization."
                  },
                  "group_id": {
                    "type": "string",
                    "description": "The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org) ID to remove from the private channel."
                  },
                  "channel_id": {
                    "type": "string",
                    "description": "The channel to remove the linked group from."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.conversations:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_conversations_restrictAccess_removeGroup"
        }
      },
      "parameters": []
    },
    "/admin.emoji.add": {
      "post": {
        "tags": ["admin.emoji", "admin"],
        "summary": "admin_emoji_add",
        "description": "Add an emoji.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.add"
        },
        "operationId": "admin_emoji_add",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["token", "name", "url"],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be removed. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of a file to use as an image for the emoji. Square images under 128KB and with transparent backgrounds work best."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.teams:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_emoji_add"
        }
      },
      "parameters": []
    },
    "/admin.emoji.addAlias": {
      "post": {
        "tags": ["admin.emoji", "admin"],
        "summary": "admin_emoji_addAlias",
        "description": "Add an emoji alias.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.addAlias"
        },
        "operationId": "admin_emoji_addAlias",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["token", "name", "alias_for"],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be aliased. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  },
                  "alias_for": {
                    "type": "string",
                    "description": "The alias of the emoji."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.teams:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_emoji_addAlias"
        }
      },
      "parameters": []
    },
    "/admin.emoji.list": {
      "get": {
        "tags": ["admin.emoji", "admin"],
        "summary": "admin_emoji_list",
        "description": "List emoji for an Enterprise Grid organization.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.list"
        },
        "operationId": "admin_emoji_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.teams:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 - 1000 both inclusive.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.teams:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_emoji_list"
        }
      },
      "parameters": []
    },
    "/admin.emoji.remove": {
      "post": {
        "tags": ["admin.emoji", "admin"],
        "summary": "admin_emoji_remove",
        "description": "Remove an emoji across an Enterprise Grid organization",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.remove"
        },
        "operationId": "admin_emoji_remove",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["token", "name"],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be removed. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.teams:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_emoji_remove"
        }
      },
      "parameters": []
    },
    "/admin.emoji.rename": {
      "post": {
        "tags": ["admin.emoji", "admin"],
        "summary": "admin_emoji_rename",
        "description": "Rename an emoji.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.emoji.rename"
        },
        "operationId": "admin_emoji_rename",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["token", "name", "new_name"],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Authentication token. Requires scope: `admin.teams:write`"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the emoji to be renamed. Colons (`:myemoji:`) around the value are not required, although they may be included."
                  },
                  "new_name": {
                    "type": "string",
                    "description": "The new name of the emoji."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.teams:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_emoji_rename"
        }
      },
      "parameters": []
    },
    "/admin.inviteRequests.approve": {
      "post": {
        "tags": ["admin.inviteRequests", "admin"],
        "summary": "admin_inviteRequests_approve",
        "description": "Approve a workspace invite request.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.inviteRequests.approve"
        },
        "operationId": "admin_inviteRequests_approve",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.invites:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["invite_request_id"],
                "type": "object",
                "properties": {
                  "invite_request_id": {
                    "type": "string",
                    "description": "ID of the request to invite."
                  },
                  "team_id": {
                    "type": "string",
                    "description": "ID for the workspace where the invite request was made."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.invites:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_inviteRequests_approve"
        }
      },
      "parameters": []
    },
    "/admin.inviteRequests.deny": {
      "post": {
        "tags": ["admin.inviteRequests", "admin"],
        "summary": "admin_inviteRequests_deny",
        "description": "Deny a workspace invite request.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.inviteRequests.deny"
        },
        "operationId": "admin_inviteRequests_deny",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.invites:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["invite_request_id"],
                "type": "object",
                "properties": {
                  "invite_request_id": {
                    "type": "string",
                    "description": "ID of the request to invite."
                  },
                  "team_id": {
                    "type": "string",
                    "description": "ID for the workspace where the invite request was made."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.invites:write"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_inviteRequests_deny"
        }
      },
      "parameters": []
    },
    "/admin.inviteRequests.list": {
      "get": {
        "tags": ["admin.inviteRequests", "admin"],
        "summary": "admin_inviteRequests_list",
        "description": "List all pending workspace invite requests.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.inviteRequests.list"
        },
        "operationId": "admin_inviteRequests_list",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.invites:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "ID for the workspace where the invite requests were made.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Value of the `next_cursor` field sent as part of the previous API response",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results that will be returned by the API on each invocation. Must be between 1 - 1000, both inclusive",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.invites:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_inviteRequests_list"
        }
      },
      "parameters": []
    },
    "/admin.inviteRequests.approved.list": {
      "get": {
        "tags": ["admin.inviteRequests.approved", "admin"],
        "summary": "admin_inviteRequests_approved_list",
        "description": "List all approved workspace invite requests.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.inviteRequests.approved.list"
        },
        "operationId": "admin_inviteRequests_approved_list",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.invites:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "ID for the workspace where the invite requests were made.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Value of the `next_cursor` field sent as part of the previous API response",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results that will be returned by the API on each invocation. Must be between 1 - 1000, both inclusive",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.invites:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_inviteRequests_approved_list"
        }
      },
      "parameters": []
    },
    "/admin.inviteRequests.denied.list": {
      "get": {
        "tags": ["admin.inviteRequests.denied", "admin"],
        "summary": "admin_inviteRequests_denied_list",
        "description": "List all denied workspace invite requests.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.inviteRequests.denied.list"
        },
        "operationId": "admin_inviteRequests_denied_list",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.invites:read`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "ID for the workspace where the invite requests were made.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Value of the `next_cursor` field sent as part of the previous api response",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results that will be returned by the API on each invocation. Must be between 1 - 1000 both inclusive",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.invites:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_inviteRequests_denied_list"
        }
      },
      "parameters": []
    },
    "/admin.teams.admins.list": {
      "get": {
        "tags": ["admin.teams.admins", "admin"],
        "summary": "admin_teams_admins_list",
        "description": "List all of the admins on a given workspace.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.teams.admins.list"
        },
        "operationId": "admin_teams_admins_list",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Authentication token. Requires scope: `admin.teams:read`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaultsuccesstemplate"
                }
              }
            }
          },
          "default": {
            "description": "Typical error response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Defaulterrortemplate1"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "slackAuth": ["admin.teams:read"]
          }
        ],
        "x-codeSamples": {
          "$ref": "./codesamples.json#/admin_teams_admins_list"
        }
      },
      "parameters": []
    },
    "/admin.teams.create": {
      "post": {
        "tags": ["admin.teams", "admin"],
        "summary": "admin_teams_create",
        "description": "Create an Enterprise team.",
        "externalDocs": {
          "description": "API method documentation",
          "url": "https://api.slack.com/methods/admin.teams.create"
        },
        "operationId": "admin_teams_create",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Authentication token. Requires scope: `admin.teams:write`",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "schema": {
              "const": "application/x-www-form-urlencoded",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": ["team_domain", "team_name"],
                "type": "object",
                "properties": {
                  "team_domain": {
                    "type": "string",
                    "description": "Team domain (for example, slacksoftballteam)."
                  },
                  "team_name": {
                    "type": "string",
[...]
